Lab1/Ex1/bin/
Lab1/Ex1/obj/
Lab1/Ex2/obj/
Lab1/Ex2/bin/
Lab1/Ex3/bin/
Lab1/Ex3/bin/
Lab2/Ex1Console/bin/
Lab2/Ex1Console/obj/
Lab2/SieveLibrary/bin/
Lab2/SieveLibrary/obj/
Lab2/SieveTest/bin/
Lab2/SieveTest/obj/
Lab2/SieveTest/TestResults/
Lab4/Ex7/BankClient/bin/
Lab4/Ex7/BankClient/obj/
Lab4/Ex7/BankServer/bin/
Lab4/Ex7/BankServer/obj/
Lab6/bin/
Lab6/obj/
Assignment/Client/bin/
Assignment/Client/obj/
Assignment/Server/bin/
Assignment/Server/obj/
Assignment/Shared/bin/
Assignment/Shared/obj/
.vs/C#Labs/DesignTimeBuild/.dtbcache.v2
.vs/C#Labs/v16/.suo
